body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 5%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

h2 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

td button:hover {
    background-color: #c82333;
}

#data {
    border: none;
    height: 50px;
    width: 100px;
}

#check{
    margin-top: 18%;
    margin-left: 28%;
}